<section class="about-section bg-light" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-0 mb-5 align-items-center">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/bg-about.jpg" alt="..." /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4>The importance</h4>
                    <p class="text-black-50 mb-0">Understanding the importance of population is essential for addressing the challenges and opportunities that come with demographic growth. A well-managed and sustainable population can contribute to the economic, social, and environmental development of a country, while uncontrolled growth can lead to problems and imbalances in various aspects of society.</p>
                </div>
            </div>
        </div>
        <div class="row gx-0 mb-5 mb-lg-2 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Natural Resources and Environment</h4>
                            <p class="mb-0 text-white-50">Natural resources and the environment are directly influenced by the size of the world's population. An increase in population can exert greater pressure on ecosystems and lead to issues like overexploitation, deforestation, biodiversity loss, and pollution.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-0 mb-5 mb-lg-2 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-02.jpg" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Economy and Employment</h4>
                            <p class="mb-0 text-white-50">The population determines the available workforce in a country. Population growth can drive the economy by providing more workers and consumers, but it can also lead to challenges such as unemployment and a lack of job opportunities.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-0 mb-5 mb-lg-2 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-03.jpg" alt="..." /></div>
            <div class="col-lg-6">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="text-white">Migration and Displacement</h4>
                            <p class="mb-0 text-white-50">Changes in population and economic or political conditions can result in migration and displacement of people seeking better opportunities or refuge.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row gx-0 mb-5 mb-lg-5 justify-content-center">
            <div class="col-lg-6"><img class="img-fluid" src="assets/img/demo-image-04.jpg" alt="..." /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Public Health</h4>
                            <p class="mb-0 text-white-50">The world's population affects the spread of diseases and the capacity of healthcare systems to serve the population. Rapid population growth can put pressure on medical and health services.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
